@model CouponDto

<form asp-action="CouponCreate">
    <br/>
    <div class="container border p-3">
        <h1 class="text-white text-center">创建优惠卷</h1>
        
        <hr/>

        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;" asp-for="CouponCode">
                    优惠代码
                </label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CouponCode" class="form-control"/>
                <span asp-validation-for="CouponCode" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;" asp-for="DiscountAmount">
                    优惠金额
                </label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DiscountAmount" class="form-control" />
                <span asp-validation-for="DiscountAmount" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;" asp-for="MinAmount">
                    最低数量
                </label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="MinAmount" class="form-control" />
                <span asp-validation-for="MinAmount" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a class="btn-primary btn form-control" asp-action="CouponIndex">返回列表</a>
            </div>
            <div class="col-5 offset-2">
                <input type="submit" value="创建" class="btn btn-success form-control"/>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
