@model ProductDto

<form asp-action="ProductEdit">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">修改产品</h1>
        <input type="hidden" asp-for="ProductId" />

        <hr />

        <div class="row">
            @Html.ValidationMessage("Product",new{@class="text-danger"})
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;" asp-for="Name">
                    产品名称
                </label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;" asp-for="Description">
                    产品描述
                </label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;" asp-for="CategoryName">
                    产品类别
                </label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;" asp-for="Price">
                    产品价格
                </label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;" asp-for="ImageUrl">
                    产品图片
                </label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImageUrl" class="form-control"/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a class="btn-primary btn form-control" asp-action="ProductIndex">返回列表</a>
            </div>
            <div class="col-5">
                <input type="submit" value="修改" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

