@using Takeaway.Web.Models.Auth;
@model RegisterRequestDto

<form method="post">
    <div class="container border p-4">
        <div class="row text-center">
            <h1>注册</h1>
        </div>
        <div class="row text-center">
            @Html.ValidationMessage("Register",new{@class="text-danger"})
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 pd-2">
                <input asp-for="Name" class="form-control" placeholder="姓名...." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pd-2">
                <input asp-for="Email" class="form-control" placeholder="邮箱...." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pd-2">
                <input asp-for="PhoneNumber" class="form-control" placeholder="电话...." />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pd-2">
                <input asp-for="Password" class="form-control" placeholder="密码...." />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pd-2">
                <select asp-for="Role" class="form-control" asp-items="@ViewBag.RoleList">
                    <option disabled selected>--选择角色--</option>
                </select>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pd-2">
                <button type="submit" class="form-control btn btn-success" value="注册">注册</button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
